.heading{
text-align: center;
font-size: 50px ; 
color: white;
margin-top:50%;

}
.app
{
    color: black;
}
.dates
{
    margin: 10px;
}

.outer{
    position: absolute;
    width: 100%;
    margin:0px;
    background-size: cover;

}
.dates{
    margin:10px;
}

#cityName #place
{
font-size: 40px;
}
.degree
{
    font:30px solid black;
    
}
.weatherApp{
 width:50%;
 height:100vh;
 background-color: blue;
 float:left;
 text-align: center;
 
}
.right{
    width:50%;
    height:100vh;
    
    float:left;
    text-align: center;
    margin-top: 10%;

}

.cityNames{
   margin: 47px;
}

#citySelect
{
width:20em;
}

.deg{
  position: relative;
  top:-10px;
  
}
